body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  align-items: center;
  background-image: url(Kesehatan.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

h1 {
  text-align: center;
}

form {
  max-width: 700px;
  margin: auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkbox-group,
.radio-group {
  margin-top: 5px;
}

.checkbox-group label,
.radio-group label {
  font-weight: normal;
  margin-right: 15px;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button {
  margin-top: 20px;
  background-color: #2e8b57;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #26714a;
}