body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #27ae60; /* Background hijau */
            color: white;
        }

        header {
            padding: 40px 20px;
            text-align: center;
            background: #219150;
        }

        header h1 {
            font-size: 36px;
            margin: 0;
        }

        .container {
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .article-card {
            background: #fff;
            text-align: center;
            color: #333;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(0,0,0,0.25);
        }

        .article-card h2 {
            margin-top: 0;
            color: #2ecc71;
        }

        .article-card h3 {
            margin-bottom: 5px;
            color: #27ae60;
        }

        ul {
            margin-top: 10px;
        }

        footer {
            margin-top: 40px;
            background: #1b7d45;
            padding: 20px;
            text-align: center;
            color: #e8f5e9;

        } 
